body{
    display: flex;
    width:95vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    margin:0;
    flex-direction: column;
    padding:0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.column-big{
    position: absolute;
    top:250px;
    display: flex;
    width:100%;
    margin:0;
    flex-direction: column;
    align-items: center;
    width:1000px;
    height:3000px;
}
.column{
    position: relative;
    width:100%;
    height:12.5%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.column-title{
    position: absolute;
    left:10px;
    top:10px;
    display: flex;
    align-items: center;
    font-size:39px;
    font-weight:700;
    margin-bottom:30px;
}
.column-story{
    margin-left:30px;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
