body{
    display: flex;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    background-color:rgba(240, 232, 232, 0.733);
    overflow: hidden;
}
@keyframes fadeIn{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
    animation:fadeIn 1s ease-in-out;
  }
.start{
  background-color:#ff7675;
  border-radius:30px;
  width:100px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.youtube{
  position: absolute;
  left:600px;
  top:438px;
  text-decoration: none;
  color: #a29bfe;
  border:#a29bfe solid 3px;
  border-radius:5px;
  display:flex;
  width:315px;
  height:190px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}.youtube img{
  margin-right:10px;
}
.youtube a{
  font-size:18px;
  margin-top:10px;
  margin-bottom:10px;
}
.status-bar{
  background-color:#636e72;
  width:100%;
  height: 225px;
  position: fixed;
  display:flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top:0;
  left:0;
  margin:0;
  justify-content: center;
}
.status-bar_column{
  width: 33%;
  height:100%;
  position: relative;
}
.status-bar_column:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color:#00cec9;
  font-size:50px;
  padding-left:30px;
  font-weight: 700;
  box-sizing: border-box;
}
.status-bar_column:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  font-weight: 700;
}
.status-bar_column:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right:20px;
}
.status-bar_column:nth-child(2) div,.status-bar_column:nth-child(3) div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#07090E;
  border-radius:70px;
  width:400px;
  height: 100px;
  font-size:50px;
  font-weight: 700;
  color:#95a5a6;
  transition:all 0.55s ease-in-out;
}
.status-bar_column div:hover{
  transform: translateY(-15px);
  box-shadow:0 20px 50px #2d3436 ;
}

a{
  text-decoration:none;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 1300px) and (min-width: 859px){
  .status-bar_column:nth-child(2) div,
  .status-bar_column:nth-child(3) div{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:#07090E;
      border-radius:70px;
      width:230px;
      height: 50px;
      font-size:30px;
      font-weight: 600;
  }
}
@media screen and (min-width: 1300px) {
  .status-bar_column:nth-child(2) div,
  .status-bar_column:nth-child(3) div{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:#07090E;
      border-radius:70px;
      width:400px;
      height: 100px;
      font-size:50px;
      font-weight: 700;
  }
}
@media screen and (max-width:859px) and (min-width: 730px){
  .status-bar_column:nth-child(2) div,
  .status-bar_column:nth-child(3) div{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:#07090E;
      border-radius:70px;
      width:150px;
      height: 40px;
      font-size:20px;
      font-weight: 800;
      margin:10px;
  }

}
@media screen and (max-width: 730px) {
  .status-bar_column:nth-child(2) div,
  .status-bar_column:nth-child(3) div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#07090E;
    border-radius:70px;
    width:100px;
    height: 20px;
    font-size:10px;
    font-weight: 800;
    margin:10px;
  }
  .status-bar_column:nth-child(1) span{
    display: flex;
    width: 100px;
    margin-left:10px;
  }
}
@media screen and (max-width: 1230px) and (min-width: 500px){
  #webcam-container{
    position: relative;
    top:500px;
    left:-300px;
  }
  #turtle{
    position: relative;
    top:500px;
    left:-300px;
  }
}
.you:nth-child(1) span{
  color:#551a8b;
}
.turtleBar{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:0;
  flex-direction: column;
  background-color: #95a5a6;
  width:100%;
  height:20%;
  opacity:0;
}
 .jsMode {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  position: absolute;
  right:0;
  top:200px;
}
.turtleBar div{
  margin:10px;
}
select{
  font-size:20px;
  position: absolute;
  left:978px;
  top:493px;
  width: 282px;
margin-top: 10px;
}
input{
  position: absolute;

  font-size:20px;
  left:975px;
  top:548px;


}
button{
  position: absolute;

  font-size:20px;
  left:978px;
width:280px;
  top:590px;

}
input:nth-child(1){
  width: 200px;

}
input:nth-child(2){
  width: 60px;
  left:1200px;
height:31px;
}
.name{
  left:978px;
  top:455px;
  display: flex;
  background-color: white;
  align-items:center;
  justify-content: center;
  position: absolute;
  width:300px;
  font-size:20px;
}
#turtle{
  height:23px;
  color:black;
}
.turtleBar_today,.turtleBar_all{
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.big_all{
  width:500px;
  height:50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big_all_bad{
  background-color: rgb(253, 0, 0);
  width:1%;
  margin:0;
  height:50px;
  box-sizing: margin-box;
}
.big_all_good{
  background-color: rgb(0, 253, 156);
  width:100%;
  margin:0;
  height:50px;
  box-sizing: margin-box;
}
#turtle_span{
  position: absolute;
  left:-50px;
  top:13px;
}
#good_span{
  position: absolute;
  right:-60px;
  top:13px;
}
#result{
  display: inline-block;
  width:70px;
}